$footer-height: 35px
$main-top-padding: 60px

.main-wrapper
  background-color: $main-grey
  padding-top: $main-top-padding
  height: calc(100vh - #{$footer-height} - #{$main-top-padding})
  position: relative
  z-index: 1
    //So that the background doesn't hide the pseudo-elements
html
  font-size: 0px

h1
  font-size: 30px
  font-family: 'Josefin Sans', 'Open Sans', 'Sans-Serif'
  text-transform: uppercase
  line-height: 1
  &.nicofy
    text-transform: uppercase
    color: white
    font-size: 55px
      //It's default
    font-weight: 600
    text-align: center
h2
  font-size: 22px
  font-family: 'Quicksand', 'Open Sans', 'Sans-Serif'
  font-weight: 300
p
  font-size: 16px
  font-family: 'Open Sans', 'Sans-Serif'
  font-weight: 300

a
  color: $main-blue
  text-decoration: none
  &:visited
    color: $main-blue

html
  font-size: 0px

.non-selectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.table-vertical-align
  display: table-cell
  vertical-align: middle
